extends base

block content
  .row.justify-content.p-3.m-2
    .col-md-5.text-center.text-md-start
        h3.mx-3.my-3 Search resolutions by patient name: 
  .row.justify-content.p-3
    .col-md-8.text-center.text-md-start
      .container-fluid
        form#form-search-resolutions-by-name.d-flex(method='get', action='', target='_blank')
          input#name.form-control.me-2(type='text', name='name')
          input.btn.btn-outline-success(type='submit', value='Search')
      .container-fluid.resolutions__list.p-3.m-2
        -if (resolutions.length !== 0)
          .list-group.my-4(style='height: 600px; overflow-y: auto')
            each resolution in resolutions
              .list-group-item.py-3
                p.mb-1=resolution.resolution
                p.mb-1=resolution.doctorName
                p.mb-1=resolution.specialization
                small=resolution.createdAt.toLocaleString('en-us')
                div.id.btn.btn-dark.btn__delete.m-2(id=`resolution_${resolution.id}` data-id=resolution.id) Delete
        -else 
          small.p-3.m-2 No resolutions to show.

  